<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?blackmasks\.com$ [NC]
RewriteRule ^(.*)$ https://blackmasks.com/$1 [L,R=301]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?blackmasks\.com$ [NC]
RewriteRule .* - [E=UPGRADE]
    <IfModule mod_headers.c>
        Header always set Content-Security-Policy "upgrade-insecure-requests;" env=UPGRADE
    </IfModule>
</IfModule>
AddHandler application/x-httpd-alt-php73___lsphp .php
DirectoryIndex index.html INDEX.HTML Index.html index.shtml index.cgi index.pl index.php index.xhtml index.htm
## BEGIN Compability settings for mt
<IfModule mod_env.c>
  SetEnv DATABASE_SERVER localhost
  RewriteEngine on
  RewriteRule ^ - [E=SITE_ROOT:%{DOCUMENT_ROOT}]
  RewriteRule ^ - [E=SITE_CGIROOT:%{DOCUMENT_ROOT}/cgi-bin]
  RewriteRule ^ - [E=SITE_HTMLROOT:%{DOCUMENT_ROOT}]
</IfModule>
## END Compability settings for mt
